.wrapper.style1 {
    background-color: #e59428;
}

.wrapper.style3 {
    background-color: #e59428;
    color: white;
}

.wrapper.style1 header.major p, .wrapper.style3 header.major p {
    color: white;
}

#menu {
    background-color: #e59428;
}

.icon.style1, .icon.style2, .icon.style3, .features li::before {
    color: #28E594;
}

.product-image {
    width: 100%;
    margin-bottom: 1em;
}

.product-list {
    width: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 1em;
}

.wrapper {
    padding: 2em 0 2em;
}

.description {
    padding: 2em;
}

.description h2 {
    margin-bottom: 0;
}

header.major {
    margin: 0;
}

.flex-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.list-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next row */
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}

.list-item {
    flex: 1; /* Each column takes 50% of the container's width */
    text-align: center;
    padding: 1em;
}

.list-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.list-item h2 {
    margin: 0;
}

.list-item .summary {
    font-size: .9em;
    margin-bottom: 0;
}

.square-container {
    width: 300px; /* Set the size of your square */
    height: 300px; /* Set the same size for height to make it a square */
    overflow: hidden; /* Ensures the image doesn't overflow the container */
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    background-color: #f0f0f0; /* Optional: for a placeholder background color */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.square-container img {
    width: 100%; /* Ensures the image fills the container */
    height: 100%; /* Ensures the image fills the container */
    object-fit: cover; /* Scales the image to cover the container while maintaining aspect ratio */

}

div.product-price {
    font-size: 1.5em;
    margin-bottom: .7em;
}

.primary.facebook {
    background-color: #316FF6;
}

.primary.facebook:hover {
    background-color: #5c8efa !important;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;  /* Stacks the columns vertically on mobile */
    }

    .column {
        flex: none;  /* Disable flex-grow to avoid unwanted stretching */
        width: 100%;  /* Ensure each column takes full width */
        padding: 0;
    }

    .description {
        padding-left: 4em;
        padding-right: 3em;
        padding-bottom: 3em;
    }

    .column:nth-child(2) {
        order: -1;  /* Make the second column appear first */
    }

    .button.fit.primary {
        width: 100%;
        max-width: inherit;
    }
}